---
import Layout from '../layouts/Layout.astro';
import ArticlesList from '@components/ui/articles/ArticlesList.astro';
import Facts from '@components/ui/Facts.astro';
---
<Layout title="Home">
	<div class="flex justify-center items-center flex-col">
		<h1>Home</h1>
		<Facts/>
		<ArticlesList/>
	</div>
</Layout>
