---
import IconBttn from "@buttons/IconBttn.astro";
import Speaker from "@icons/Speaker.astro";
import Save from "@icons/Save.astro";
import Quotes from "@icons/Quotes.astro";
import Share from "../icons/Share.astro";
---
<div class="flex flex-col items-center justify-center gap-4">
  <IconBttn>
    <Speaker/>
  </IconBttn>
  <IconBttn>
    <Save/>
  </IconBttn>
  <IconBttn>
    <Quotes/>
  </IconBttn>
  <IconBttn>
    <Share/>
  </IconBttn>
</div>