---
interface Props {
	title: string;
  rute: string;
}

const { title, rute } = Astro.props;
---

<a href={`${rute}`} class="cursor-pointer w-full items-center inline-flex justify-center px-4 py-2 mt-6 text-sm font-medium text-white bg-blue-600 border border-transparent rounded-md shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
  {title}
</a>